body {
    background-color: rgb(240, 240, 150);
}

h1,
.form {
    text-align: center;
}

input,
select {
    margin-right: 20px;
}

select option:first-of-type {
    display: none;
}

#output {
    padding: 20px;
}

.m {
    background-color: lightblue;
}

.f {
    background-color: pink;
}